* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --color-primary: #5C56E1;
    --color-primary-dark: #5b21b6;
    --color-accent: #885CF6;
    --color-card: #ffffff;
    --color-input: #F1F1FF;
    --color-text: #09090E;
    --color-placeholder: #5C5A87;
    --color-border: #D4D4ED;
    --color-gradient: linear-gradient(135deg, #5c56E1, #8b5cf6);
}

body.dark-theme { 
--color-card:#1E2938; 
--color-input: #141B2D; 
--color-text: #F3F4F6; 
--color-placeholder: #A3B6DC; 
--color-border:#334155; 
background: var(--color-card); 
background-image: radial-gradient(circle at 15% 50%, rgba(99, 102, 241, 0.15) 0%, transparent 35%), radial-gradient(circle at 85% 30%, rgba(139, 92, 246, 0.15) 0%, transparent 35%), radial-gradient(circle at 50% 80%,rgba(99, 102, 241, 0.1) 0%, transparent 40%);
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    color: var(--color-text);
    background: linear-gradient(#e9e9e9, #c8c7ff);
}

.container {
    width: 900px;
    padding: 32px;
    position: relative;
    border-radius: 23px;
    overflow: hidden;
    background: var(--color-card);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

    
}

body.dark-theme .container{
    border: 1px solid var(--color-border);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--color-gradient);
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo-wrapper {
    display: flex;
    gap: 18px;
    align-items: center;
}

.header .logo-wrapper .logo {
    height: 55px;
    width: 56px;
    color: #fff;
    font-size: 1.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--color-gradient);
}

.header .logo-wrapper h1 {
    font-size: 1.9rem;
    font-weight: 700;
}

.header .theme-toggle {
    height: 43px;
    width: 43px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 1.05rem;
    cursor: pointer;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    color: var(--color-placeholder);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.header .theme-toggle:hover {
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5)
}

.main-content {
    margin: 35px 0 5px;
}

.main-content .prompt-Container {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.prompt-Container .prompt-input {
    width: 100%;
    resize: vertical;
    line-height: 1.6;
    font-size: 1.05rem;
    min-height: 120px;
    padding: 16px 20px;
    border-radius: 15px;
    color: var(--color-text);
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}

.prompt-Container .prompt-input::placeholder {
    color: var(--color-placeholder);
}

.prompt-Container .prompt-input:focus {
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 0 0 4px rgba(139, 92, 246, 0.15);
}

.prompt-Container .prompt-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    border: none;
    color: #fff;
    font-size: 0.75rem;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    background: var(--color-gradient);
}

.prompt-Container .prompt-btn:hover {
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

}

.main-content .prompt-actions {
  display: flex;
  flex-wrap: wrap;      /* Allows wrapping on smaller screens */
  gap: 14px;
  justify-content: space-between;
}
#dropdown{
    display: flex;
}

.prompt-actions .select-wrapper {
    position: relative;
}



.prompt-actions #dropdown :where(.custom-select, .generate-btn) {
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}

.custom-select {
    width: 100%;
    height: 100%;
    flex: 1;
    min-width: 0;
    outline: none;
    appearance: none;
    color: var(--color-text);
    padding-right: 40px; /* Space for arrow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--color-border);
    background-color: transparent;
}
.prompt-actions .select-wrapper::after {
   content: "\f078"; /* Down arrow icon */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 0.9rem;
    position: absolute;
    right: 20px;
    top: 50%;
   transform: translateY(-50%);
    /* background: var(--color-placeholder); */
    color: var(--color-placeholder);
    pointer-events: none;
    z-index: 1;
}
.prompt-actions .custom-select :is(:focus, :hover) {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.1);
}

.prompt-actions .generate-btn {
  padding: 10px 16px;
  font-weight: 500;
  white-space: nowrap;
    flex: 1 1 200px;
  box-sizing: border-box;
  background: var(--color-gradient);
  color: #fff;
  border: none;
  border-radius: 10px;
}
.prompt-actions .generate-btn:disabled{
    opacity: 0.6;
    pointer-events: none;
}

.prompt-actions .generate-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(109, 40, 217, 0.3);
}

.main-content .gallery-grid:has(.img-card){
 margin-top: 30px;
}
.main-content .gallery-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

}

.gallery-grid .img-card {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 16px;
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}
.gallery-grid .img-card:not(.loading):hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.gallery-grid .img-card .result-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 /* For error icon */
.gallery-grid .img-card.loading .status-container i {
    display: none;
}

.gallery-grid .img-card.error .spinner {
    display: none;
}
.gallery-grid .img-card .status-container{
    padding: 15px;
    display: none;
    display: flex;
    gap: 13px;
    flex-direction: column;
    align-items: center;
}
.gallery-grid .img-card:where(.loading, .error){
    display: flex;
}
 .gallery-grid .img-card.loading .status-container i,
 .gallery-grid .img-card.error .spinner
 {
    display: none;
 }
  .gallery-grid .img-card.error .status-container i{
    font-size: 1.7rem;
    color: #ef4444;
  }
 
 .img-card.loading .spinner {
    width: 35px;
    height: 35px ;
    border-radius: 50%;
    border: 3px solid var(--color-border);
    border-top-color: var(--color-primary);
    animation: spin  1s linear infinite;
}
@keyframes spin{
    to{
        transform: rotate(350deg);
    }
}
.gallery-grid .img-card .status-container .status-text{
    font-size: 0.85rem;
    text-align: center;
    color: var(--color-placeholder);
}
.gallery-grid .img-card .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}
.gallery-grid .img-card:hover .img-overlay {
    opacity: 1;
    pointer-events: auto;
}
.gallery-grid .img-card .img-download-btn{
    height: 45px;
    width: 45px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(5px);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: rgba(255,255,255,0.25);
}
.gallery-grid .img-card .img-download-btn:hover{
    transform: scale(1.05);
      background: rgba(255,255,255,0.25);
}


@media (max-width: 768px){
    .container{
        padding: 18px;
    }
    .header .logo-wrapper .logo{
        height: 50px;
        width:51px;
        font-size: 1.25rem;


    }
    .header .logo-wrapper h1{
        font-size: 1.7rem;
    }
    .main-content .prompt-actions{
        grid-template-columns: 1fr;
        margin-top: -10px;
    }
    #dropdown{
    display: flex;
    flex-direction: column;
     gap: 5px;
    width: 100%;
}
 

    .prompt-actions .generate-btn{
        margin: 10px 0 0;
    }
    .gallery-grid .img-card .img-overlay{
        opacity: 1;
    }
}